body {
  font-family: "Press Start 2P", cursive;
  color: #fff;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

img{
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
  color: #fff;
}
