<div class="container" style="text-align: center;">
  <a href="/" style="font-size: 2.125rem;">CsvDex<a>

  <div class="m-5" >
    <%= form_tag(pokemons_path, method: :get) do %>
      <%= text_field_tag(:query, params[:query], placeholder: "Enter a Pokémon name") %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <%= render "pokecard" %>
</div>
